calculadora-divisao-javafx/telavalores/target/classes/com/primeiro/operador/App.class
calculadora-divisao-javafx/telavalores/target/classes/com/primeiro/operador/PrimaryController.class
calculadora-divisao-javafx/telavalores/target/classes/com/primeiro/operador/SecondaryController.class
calculadora-divisao-javafx/telavalores/target/classes/module-info.class
calculadora-divisao-javafx/telavalores/target/classes/com/primeiro/operador/primary.fxml
